{
  "presets": [
    "env", "react"
  ],
  "plugins": [ "transform-class-properties",
    [
      "babel-plugin-inline-import",  {
        "extensions": [
          ".json",
          ".sql",
          ".graphql"
        ]
      }
    ]
  ]
}